# Managed by config management

{%- macro format_value(key, value) %}
  {#- Some settings, like virtual_alias_maps can take multiple values. Handle this case. -#}
  {%- if value is iterable and value is not string -%}
{{key}}	{{value|join(", ")}}
  {%- else -%}
{{key}}	{{value}}
  {%- endif -%}
{%- endmacro %}

{%- if data is mapping %}
{% for item in data.items() %}
{% if item is string -%}
{{item}}
{% else -%}
{{format_value(item, data[item])}}
{%- endif %}
{%- endfor -%}
{%- else %}
{#- Some settings need order, handle OrderedDict #}
{% for item in data %}
{{ format_value(item.keys()[0], item.values()[0]) }}
{%- endfor -%}
{%- endif %}
